.myTask-calendar {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  & .ant-picker-calendar {
    width: 100%;
    margin-right: auto;
  }
}

.event-personal {
  display: flex;
  align-items: center;
  & .event-dot {
    background-color: var(--mui-palette-blue-main);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.myTask-masterCalendar {
  display: flex;
  align-items: center;
  color: #ff9f0b;
  font-size: 20px;
  & .myTask-masterCalendar__icon {
    margin-right: 5px;
  }
  & span {
    font-weight: 600;
  }
}

.rbc-header {
  background: #79b8e4;
  color: white;
  padding: 10px;
  font-size: 12px;
}

.rbc-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-background-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-time-slot {
  background-color: #eaf3fa;
  color: #74a4c3;
  border-color: aqua !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-timeslot-group {
  min-height: 120px !important;
}

.rbc-event-content {
  background: #79b8e4 !important;
  color: black;
}
