.myTask-container {
  background-color: var(--mui-palette-gray6-main);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.myTask-header {
  color: var(--mui-palette-blue-main);
  font-weight: 700;
  font-size: 32px;
}

.myTask-body {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.myTask-left {
  width: 60%;
}

.myTask-right {
  width: 38%;
}