.schedule-container {
  background-color: var(--mui-palette-gray6-main);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.schedule-header {
  color: var(--mui-palette-blue-main);
  font-weight: 700;
  font-size: 32px;
}

.schedule-body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.schedule-left {
  width: 80%;
}

// .schedule-right {
//   min-width: 5%;
// }
