@mixin glassEffect {
  &.glass-effect {
    overflow: hidden;
    position: relative;

    svg,
    span {
      z-index: 20;
    }

    &:after {
      background: #fff;
      content: '';
      height: 300px;
      left: -125px;
      opacity: 0.3;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 0;
    }

    &:hover {
      &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
