.modalWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modelDescription {
  color: var(--mui-palette-text-secondary);
}

.modalDetail {
  height: fit-content;
  max-height: fit-content;
}
