@mixin animationMixin($delay) {
  animation: appear 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) #{$delay}s 1
      forwards,
    rotateAnim 2s linear #{$delay + 1}s infinite;
  transform-origin: top center;
}
.animating-image-container {
  width: 50%;
  min-width: 573px;
  padding-top: 86px;
  position: relative;
  // overflow: hidden;
  & > .main {
    width: 100%;
    object-fit: contain;
    object-position: bottom;
  }
  & > .item {
    opacity: 0;
    transform: scale(0);
    width: 120px;
    // animation: appear 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards,
    //   beat 2s linear 1s infinite both;
    // disappear 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 forwards;
    position: absolute;
  }
  & > .calendar {
    top: 0px;
    right: -50px;
    @include animationMixin(0);
    // display: hidden;
  }
  & > .timeline {
    display: hidden;
    width: 160px;
    // @include animationMixin(1.1);
    top: -30px;
    left: -20px;
  }
  & > .clock {
    @include animationMixin(0.7);
    bottom: 0px;
    left: -50px;
  }
  & > .mail {
    display: hidden;
    // @include animationMixin(1.4);
    bottom: 100px;
    right: -50px;
    width: 200px;
  }

  @media screen and (max-width: 1280px) {
    min-width: 400px;
    & > .item {
      width: 30%;
    }
  }
  @media screen and (max-width: 1080px) {
    & > .item {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }

  @keyframes beat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes appear {
    0% {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg) scale(0);
      opacity: 0;
    }

    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes disappear {
    0% {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      opacity: 0;
    }
  }
  @keyframes rotateAnim {
    0% {
      transform: rotateZ(0deg);
    }
    22% {
      transform: rotateZ(5deg);
    }
    25% {
      transform: rotateZ(5deg);
    }
    28% {
      transform: rotateZ(5deg);
    }
    50% {
      transform: rotateZ(0deg);
    }
    72% {
      transform: rotateZ(-5deg);
    }
    75% {
      transform: rotateZ(-5deg);
    }
    78% {
      transform: rotateZ(-5deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
}
