@use '/src/utils/styles/effects.scss';
.workspace-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  &-header {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 0 20px;

    .header-text {
      display: flex;
      align-items: center;
      gap: 4px;

      &-name {
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: var(--mui-palette-blue-main);
        }
      }

      &-count {
        font-size: 16px;
        color: var(--mui-palette-gray-main);
      }
    }

    .header-divider {
      flex: 1;
      border-bottom: 1px solid var(--mui-palette-gray4-main);
    }

    .header-show-type {
      position: relative;
      top: -10px;
    }
  }
  &-outlet {
    // width: 100%;
    max-width: unset;
    min-width: 0;
    position: relative;

    .outlet-right-button,
    .outlet-left-button {
      position: absolute;
      top: 50%;
      bottom: 50%;
      z-index: 999;
    }

    .outlet-left-button {
      left: 10px;
    }
    .outlet-right-button {
      right: 10px;
    }

    .outlet-items-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // align-items: center;
      column-gap: 16px;
      row-gap: 15px;
      padding: 10px;
      margin: 10px;
      // flex-wrap: wrap;
      // overflow-x: auto;
      overflow-y: auto;

      &::-webkit-scrollbar {
        background-color: var(--mui-palette-gray5-main);
      }

      &--empty {
        border-radius: 8px;
        width: 250px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        font-size: 32px;
        padding: 10px;
        margin: 10px;

        button.MuiButton-root {
          color: inherit;
          height: 100%;
          font-size: inherit;
          background-color: var(--mui-palette-gray5-main);
          box-shadow: 0px 0px 7px 1px var(--mui-palette-gray4-main);

          @include effects.glassEffect;
        }
      }
    }

    & > .placeholder {
      margin: 10px 20px 0 20px;
      width: calc(100% - 40px);
      padding: 50px;
      text-align: center;
      color: var(--mui-palette-gray-main);
      background-color: var(--mui-palette-gray5-main);
      border-radius: 8px;
    }
  }
}
