.workspace-summary-item {
  min-width: 244px;
  background-color: var(--mui-palette-white-main);
  box-shadow: 0px 0px 7px 1px var(--mui-palette-gray5-main);
  border-radius: 8px;
  border: 1px solid var(--mui-palette-gray5-main);
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: box-shadow 0.2s, top 0.2s;

  &:hover {
    box-shadow: 0px 0px 10px 4px var(--mui-palette-gray4-main);
    position: relative;
    top: -2px;
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    &__title {
      font-weight: 700;
      font-size: 14px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      overflow: hidden;
      // white-space: nowrap;
      -webkit-box-orient: vertical;
    }
  }

  .item__cover {
    width: 100%;
    // min-width: 248px;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(191deg, #ff6482 23.33%, #d20f44 107.81%);

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.2s;
      text-indent: -10000px;
    }
  }
  .item-bottom {
    &__task-progress {
      margin: 15px 0;

      .progress-text {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        &__number {
          color: var(--mui-palette-gray-main);
        }
      }
    }

    &__info-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item__estimate {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 8px;
        background-color: var(--mui-palette-gray6-main);
        font-size: 12px;
        width: fit-content;
        border-radius: 40px;
        svg {
          width: 18px;
        }
      }

      .item__avatar-group {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
      }
    }
  }
}
