.nav-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .nav-item-title {
    text-wrap: nowrap;
    position: absolute;
    left: 46px;
    transition: left 0.1s, opacity 0.2s;
    opacity: 1;
    &--hidden {
      left: 40px;
      opacity: 0;
    }
  }
}
